[submodule "_.vim/bundle/vim-pathogen"]
	path = _.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "_.vim/bundle/todo"]
	path = _.vim/bundle/todo
	url = http://github.com/neochrome/todo.vim.git
[submodule "_.vim/bundle/vimtodo"]
	path = _.vim/bundle/vimtodo
	url = https://github.com/mivok/vimtodo.git
