# vi: ft=sh

XPATH=( $HOME/x-tools/*/bin )
rp=( $HOME/x-tools/*/lib )

oifs="$IFS"; IFS=":"

XPATH="${XPATH[*]}"
export LD_RUN_PATH="${rp[*]}"

IFS="$oifs"

PATH_RUBY="$HOME/.gem/ruby/1.8/bin"
export USER_PATH="$EXTRA_USER_PATH:/usr/lib/ccache/bin:$HOME/trifles/bin:$HOME/bin::$XPATH:$HOME/.local/bin:$PATH_RUBY"
unset XPATH PATH_RUBY ofs rp

PYTHONPATH="$HOME/.local"

if [ -z "$SYSTEM_PATH" ]; then
	export SYSTEM_PATH="$PATH"
fi

export PATH="${USER_PATH}:${SYSTEM_PATH}"
