# vi: ft=sh

unsetopt NOMATCH

_path_gen () {
	local l
	for p in "$1/"*"/$2"; do
		if ! [ -d "$p" ]; then
			continue
		fi
		l=$l:$p
	done
	printf "%s" "$l"
}

bin_path_gen () {
	_path_gen $1  bin
}

lib_path_gen () {
	_path_gen $1 lib
}

#path_gen () {
#	`bin_path_gen $1`
#	`lib_path_gen $1`
#}

local X_TOOL_LD_PATHS X_TOOL_PATHS X_PATHS X_LD_PATHS
X_TOOL_PATHS=`bin_path_gen $HOME/x-tools`
X_TOOL_LD_PATHS=`lib_path_gen $HOME/x-tools`
X_PATHS=`bin_path_gen $HOME/x`
X_LD_PATHS=`lib_path_gen $HOME/x`

export LD_RUN_PATH="${X_LD_PATHS##:}${X_TOOL_LD_PATHS}"

RUBY_PATHS=`bin_path_gen "$HOME/.gem/ruby"`

export USER_PATH="${USER_PATH}${USER_PATH##:}:/usr/lib/ccache/bin:$HOME/trifles/bin:$HOME/bin:$HOME/.local/bin$X_PATHS$X_TOOL_PATHS$RUBY_PATHS"
unset PATH_RUBY

PYTHONPATH="$HOME/.local"

if [ -z "$SYSTEM_PATH" ]; then
	export SYSTEM_PATH="$PATH"
fi

export PATH="${USER_PATH}:${SYSTEM_PATH}"

setopt NOMATCH
